---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Substar">
  <main>
    <h1>Register <span class="text-gradient">Account</span></h1>
    <form action="/api/user/signup" method="POST">
      <label>
        Email:
        <input type="email" name="email" required />
      </label>
      <label>
        Password:
        <input type="password" name="password" required minlength="6" />
      </label>
      <button>Register</button>
    </form>
    <p>Already have an account? <a href="/">Back to login</a></p>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60ch;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    label {
      display: block;
      margin: 1rem 0;
    }
    label input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
    }
    button {
      display: block;
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      background: #f6d365;
      color: #fff;
      cursor: pointer;
    }
    button:hover {
      background: #fda085;
    }
  </style>
</Layout>
